<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Office_File_Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Office_File_Explorer.Properties.Settings>
            <setting name="ResetNotesMaster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveFallback" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListRsids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixGroupedShapes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListCellValuesSax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteCopiesOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckZipItemCorrupt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="MySite" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="DeleteOnlyCommentBookmarks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseContentControlGuid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUserSelectedCCGuid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSharePointGuid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveCustDataTags" serializeAs="String">
                <value>False</value>
            </setting>
        </Office_File_Explorer.Properties.Settings>
    </userSettings>
</configuration>